
header {
    background-color: #f1e2dd;
    color: #404040;
    padding: 0px 0;
    text-align: center;
    height: 5%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.115);
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    margin-right: 40%;
}

.header-content a {
    color: #101010;
    text-decoration: none;
    font-size: 14px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.header-content a:hover {
    color: #000;
}

.header-content p {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
    
}


    .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 10%;
    }
    
    .login-balk {
    background-color: white;
    padding: 2rem;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.136);
    border-radius: 8px;
    max-width: 400px;
    width: 100%;
    text-align: center;
    
    }
    
    h2 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
    color: #1a1a1a;
    }
    
    h3 {
    font-size: 1.2rem;
    color: #212121;
    }
    
    form {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    }
    
    label {
    text-align: left;
    margin-bottom: 0.5rem;
    color: #333;
    }
    
    input[type="email"],
    input[type="password"] {
    padding: 0.8rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    }
    
    a {
    color: rgb(131, 121, 69);
    text-decoration: none;
    font-size: 0.9rem;
    }
    
    a:hover {
    text-decoration: underline;
    }
    
    button {
    background-color: #373737;
    color: white;
    padding: 0.8rem;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    }
    
    button:hover {
    background-color: #928a8a;
    }
    
    .links {
    margin-top: 1.5rem;
    }
    
    p {
    font-size: 0.9rem;
    color: #2d2d2d;
    }
    
    
    
footer a {
    color: #000000;
    text-decoration: none;
    margin: 0 5px;
}

footer a:hover {
    text-decoration: underline;
}

footer {
    background-color: #f1e2dd;
    color: #111111;
    text-align: center;
    padding: 10px;
    margin-top: 0px;
    text-align: center;
    font-size: 12px;
    margin-top: 50px;
}
