header {
    background-color:   #f1e2dd;
    color: #404040;
    padding: 15px 0;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.115);
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    margin-right: 40%;
}

.header-content a {
    color: #101010;
    text-decoration: none;
    font-size: 14px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.header-content a:hover {
    color: #000;
}

.header-content p {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
    color:black; 
    
}

.balk {
    max-width: 30%;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-top: 80px;
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: inline-flexbox;
  }

  p {
    font-size: 0.6;
    color: #666;
    letter-spacing: 1px;
    align-items: cener;
    margin-left: 0px;
    
  }

  


& .product {
    display: flex;
flex-direction: column;
justify-content: space-between;
margin-left: 10px;


    }

    & button {
    background: #666;
    padding: 10px;
    display: inline-block; 
    outline: 0;
    border: 0;
    border-radius: 2px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: white;
    cursor: pointer; 

    &:hover {
        background-color: #cda9ac;
        transition: all 0.4s ease-in-out;
    }
    }

& .add {
    width: 67%;
}

& .like {
    width:22%;
}

.Product_Overzicht {

    display: flex;
    flex-direction: column;
    align-items: center; 
    min-height: 100vh; 
 
}

.PerTwee {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.naam {
    text-align: center;
}

footer p {
  text-align: center;
}
