

footer {
  background-color: #e1e1e1; 
  color: #000000; 
  padding: 20px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.footer-top {
  padding: 20px;
  border-bottom: 1px solid #444;
}

.footer-top h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.footer-top p {
  font-size: 14px;
  margin-bottom: 15px;
  color: #090909;
}

.footer-form {
  display: flex; 
  justify-content: center; 
  align-items: center;
  gap: 10px; 
}

.footer-form input[type="email"] {
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 250px; 
  box-sizing: border-box; 

}

.footer-form button {
  padding: 10px 20px;
  background-color: #0073e6;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.footer-form button:hover {
  background-color: #005bb5;
}



.footer-links {
  display: flex;
  justify-content:space-between;
  flex-wrap: wrap;
  padding: 30px ;
  margin-left: 200px;
  margin-right: 200px;
  gap: 10px;
}

.footer-column h3 {
  font-size: 16px;
  margin-bottom: 10px;
  color: #0f0f0f;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column ul li {
  margin: 5px 0;
}

.footer-column ul li a {
  color: #000000;
  text-decoration: none;
  font-size: 14px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.footer-column ul li a:hover {
  text-decoration: underline;
}


.footer-social {
  text-align: center;
  padding: 15px 0;
  border-top: 1px solid #444;
  border-bottom: 1px solid #444;
}

.footer-social p {
  font-size: 14px;
  color: #000000;
  margin-bottom: 10px;
}

.footer-social .social-icons a {
  margin: 0 10px;
  color: #000000;
  font-size: 20px;
  text-decoration: none;
}

.footer-social .social-icons a:hover {
  color: #005bb5;
}


.footer-bottom {
  text-align: center;
  font-size: 12px;
  color: #000000;
  padding-top: 10px;
  background-color:rgb(253, 253, 253);
}

.footer-bottom nav ul {
  list-style: none;
  padding: 0;
  margin: 10px 0;
}

.footer-bottom nav ul li {
  display: inline;
  margin: 0 10px;
}

.footer-bottom nav ul li a {
  color: #181818;
  text-decoration: none;
  font-size: 12px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.footer-bottom nav ul li a:hover {
  text-decoration: underline;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}








