footer{
    background-color: #ad7493;;
    padding: 30px;
    padding-right: 30px;
    
}

footer p {
    color: black;
}

.footer-alles {
    margin-left: 480px;

}

.copyright {
    margin-top: 30px;
    
}