.balk {
    display: flex;
    width: 35em;
    background:white;
    box-shadow: 5px 5px 15px 5px rgba(186, 126, 126, 0.5);
    border-radius: 10px;
    padding: 20px;
    flex: 1 1 300px;
    box-sizing: border-box;


  }

  p {
    font-size: 0.6;
    color: rosybrown;
    letter-spacing: 1px;
    align-items: center;
    margin-left: 10px;
    
  }

  .foto_1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    
    & span {
        width: 7px;
        height: 7px; 
        border-radius: 50%; 
    }
    & .cijfers {
        text-transform: uppercase;
    }

& .maten {
    display: flex;
    gap: 0.4em;
}

}
& .product {
display: flex;
flex-direction: column;
justify-content: space-between;
margin-left: 10px;

    }

    & button {
    background: #cda9ac;
    padding: 10px;
    display: inline-block; 
    outline: 0;
    border: 0;
    border-radius: 2px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: white;
    cursor: pointer; 

    &:hover {
        background-color: #cda9ac;
        transition: all 0.4s ease-in-out;
    }
    }

& .add {
    width: 67%;
}

& .like {
    width:22%;
}

.Product_Overzicht {

    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    min-height: 100vh; 
   
}

.PerTwee {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
