
body {
    flex-wrap: wrap;
}




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 
    'Lucida Sans', Arial, sans-serif;
    
}


.banner {
    display:flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    border-style: outset;
    padding-bottom: 60px;
    padding-top: 60px;
}

.foto2 img {
    width: 600px;
    height: auto;
    border-radius: 8px;

}

.promo_tekst {
    margin-left: 20px;
    color: #333;
}

.promo_tekst h2 {
    font-size: 18px;
    margin: 0 0 10px 0;
    color: #555

}

.promo_tekst p {
    font-size: 16px;
    margin: 0 0 15px 0;
}

.promo_button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #c75778;
    color:white; 
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.promo_button:hover {
    background-color: #b04666;
}
